# 忽略源码、配置、测试、git、IDE等无关内容
.git
.gitignore
*.md
src/
test/
.idea/
*.iml
target/*.original
target/*.jar.original
target/*.war.original
target/test-classes/
target/generated-sources/
target/surefire-reports/
target/coverage-reports/
target/*.log
*.log
*.swp
*.bak
*.tmp
.DS_Store
