<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blm.store.repository.PromotionRepository">

    <update id="update">
        UPDATE promotion
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="description != null">description=#{description},</if>
            <if test="startTime != null">start_time=#{startTime},</if>
            <if test="endTime != null">end_time=#{endTime},</if>
            <if test="discountType != null">discount_type=#{discountType},</if>
            <if test="discountValue != null">discount_value=#{discountValue},</if>
            <if test="minOrderAmount != null">min_order_amount=#{minOrderAmount},</if>
            <if test="status != null">status=#{status},</if>
        </set>
        WHERE id=#{id} AND store_id=#{storeId}
    </update>
</mapper>